.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

:root{

    --primary-nutmeg: hsl(14, 45%, 36%);
    --primary-raspberry: hsl(332, 51%, 32%);
    --neutral-0: hsl(0, 0%, 100%);
    --neutral-100-rose-white: hsl(330, 100%, 98%);
    --neutral-200-eggshell: hsl(30, 54%, 90%);
    --neutral-300-lightgrey: hsl(30, 18%, 87%);
    --neutral-500-wenge-brown: hsl(30, 10%, 34%);
    --neutral-900-charcoal:hsl(24, 5%, 18%);

}

*{
    margin:0;
}

body{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
       
}

h1, h2{
    font-family: "Young Serif", serif;
    font-weight: 600;
    font-style: normal;
    line-height: 100%;
}

h1{
    color: var(--neutral-900-charcoal);
    font-size: 40px;
}

h2{
    color:var(--primary-nutmeg);
    font-size: 28px;
}

h3{
    color: var(--primary-raspberry);
    font-size: 20px;
}

p {
    line-height: 150%;
    color:var(--neutral-500-wenge-brown);
}

li{
    line-height: 240%;
}

li::marker{
    margin-right: 20px;
    color:var(--primary-raspberry);
    font-weight: 700;
}

ul, ol{
    padding: 0 24px ;
    
}

li { 
    padding-left: 16px; 
} 


.bold-text{
    font-weight: 700;
}

hr{
    border:0px;
  height: 1px; /* Set the height of the line */
  background-color: var(--neutral-200-eggshell);
    
}

.recipe-container .preparation-time{

    display: flex;
    flex-direction: column;
    background-color: var(--neutral-100-rose-white);
    padding: 28px;
    border-radius: 12px;
  

}

.main-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--neutral-200-eggshell);
    min-width: 100%;
}

.instructions, .ingredients, .nutrients{
    display: flex;
    flex-direction: column;
    gap: 8px;
    

}

.recipe-container{
    max-width: 656px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    background-color: var(--neutral-0);
    border-radius:24px;
    gap:32px;
    margin:60px;
}

.recipe-container img{
    max-width: 656px;
    object-fit: cover;
    border-radius: 12px;
}

.preparation-time{
    display: flex;
    flex-direction: column;
    gap:8px;
}

.title-tagline, .nutrition{
    display: flex;
    flex-direction: column;
    gap:12px;
}

.nutritional-table{
    display: grid;
    grid-template-rows: repeat(4, 1fr);  
  grid-template-columns: repeat(2, 1fr);  
  
}

.nutritional-item.nutritional-value.bold-text{
    color:var(--primary-nutmeg);
}

.nutritional-item{
    border-bottom: 1px solid var(--neutral-200-eggshell);
    padding: 12px 12px 12px 32px;  
     
}